<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/stores/gifts/<%= giftId %>" method="POST">
            <label>Add Store Name</label>
            <select name="stores">
                <option value="Nordstrom">Nordstrom</option>
                <option value="Macys">Macys</option>
                <option value="Apple">Apple</option>
                <option value="Target">Target</option>
                <option value="Walmart">Walmart</option>
                <option value="Not Available">Not Available</option>
            </select>
            <label>Add Location</label>
            <select name="location">
                <option value="Soldout">Soldout</option>
                <option value="Americas">Americas</option>
                <option value="Online">Online</option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="Africa">Africa</option>
                <option value="Not Available">Not Available</option>
            </select>
            <label for="Price">Price</label>
        <input type="number" name="price" placeholder="$">
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer></footer>
    
</body>
</html>