<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <title>SEIR-Christmas-Gifts</title>
</head>
<body>
    <header>
        <h1>SEIR-Christmas-Gifts</h1>
        <ul id="nav-links">
            <li><h2><a href="/">Home</a></h2></li>
        <!-- Login UI Here -->
        <% if (user) { %>
               <li><h2 id="nav"><a href="users/<%= user._id %>/new">Add Gift</a></h2></li>
               <li><h2 id="nav"><a href="/users">Users</a></h2></li>
               <li><h2 id="nav"><a href="/logout">Logout</a></h2></li>
        <% } else { %>
               <li><h2 id="nav"><a href="/auth/google">Login with Google</a></h2></li>
    </ul>
        <% } %>
    </header>
    <main>