<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    <title>SEIR-Christmas-Gifts</title>
</head>
<Body>
<header>
  <h1 class="index-heading" >SEIR-Christmas-Gifts</h1>
  <a id="index-nav" href="/users">Users</a>
  </header>
  <main class="index-main">
    <img src="/css/images/svetozar-cenisev-R7af9oF5iJ0-unsplash.jpg" alt="christmas-balls-on-tree">
  </main>
  <footer>
    <div>Copyright &copy; <span id="year"></span> All Rights Reserved 2020 | SEIR Christmas Gifts</div>
</footer>

</Body>
</html>
