:root {
    --green: #001427;
    --white: #ffffff;
    --headings-font: 'Fondamento', cursive;
    --main-font: 'Tangerine', cursive;
}
* {
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: red;
    height: 15vh;
    justify-content: right;
    align-content: center;
    font-family: var(--headings-font);
    border-bottom: 5px solid rgb(31, 116, 42);
}
#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--headings-font);
    color: var(--green);

}

#index-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    font-family: var(--headings-font);
    color: var(--green);
    font-size: 40px;
}

main {
    display: flex;
    height: 80vh;
    background-image: url(../css/images/toni-cuenca-CvFARq2qu8Y-unsplash.jpg);
    background-size: cover;
    flex-wrap: wrap;
}


main>img {
    height: 100vh;
    width: 100vh;
}

.index-heading {
    font-family: 'Niconne', cursive;
    font-size: 100px;
    content: var(--green);
    border-bottom: 5px solid rgb(31, 116, 42);
    --color1: var(--green);
    --color2: var(--white);
   background: repeating-linear-gradient(
   45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
   );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

.index-main {
    display: flex;
    background-image: url(../css/images/svetozar-cenisev-R7af9oF5iJ0-unsplash.jpg);
    height: 100%;
    width: 100%;
}
.index-main>img {
    height: 100vh;
    width: 100vh;
}
   @keyframes table {
    0%   {background-color: red;}
    25%  {background-color: var(--green);}
    50%  {background-color: darkgreen;}
    100% {background-color: rgb(31, 116, 42);}
  } 

table {
    padding-top: 15px;
    width: 55%;
    border-collapse: collapse;
    box-shadow: 1px 1px 15px 1px rgba(183, 148, 73, 0.454);
    animation-name: table;
    animation-duration: 4s;
    animation-iteration-count: 3;
}
table thead th {
    padding: 14px;
    font-size: 24px;
    color: var(--green);
    text-shadow: 1px 2px 2px rgb(183, 73, 73);
    font-family: var(--white);
    border: 2px solid var(--green);
    background: rgba(255, 255, 255, 0.104);
}
table td {
    padding: 10px;
    text-align: center;
    background: rgba(176, 184, 134, 0);
    border: 2px solid var(--green);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--white);
}

.ul {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.ul>main {
    flex: 1 1 80px;
}

.user-name {
    font-family: var(--main-font);
    font-size: 40px;
    
}
/* @keyframes footer {
    0%   {background-color: red;}
    25%  {background-color: var(--green);}
    50%  {background-color: darkgreen;}
    100% {background-color: rgb(31, 116, 42);}
  } */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(31, 116, 42);
    color: var(--white);
    height: 10vh;
    width: 100%;
    /* animation-name: footer;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}