<%- include('../partials/headers') %>

        <!-- Place Add gift UI Here -->
        <div class="card-action">
            <form action="/users/<%= userId %>/gifts" method="POST">
                <input type="text" name="gift">
                <button class="button" type="submit">Add gift</button>
            </form>
        </div>
        <%- include('../partials/footers') %>